*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aliceblue;
}

.heading{
    text-align: center;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content{
    display: flex;
    padding: 15px;
    background-color: lightblue;
    gap:5px;
    margin-top: 10px;
}

.content-left{
    flex: 1 1 auto;
}

.content-right{
    flex: 1 1 auto;
}

.description,
.ingredients,
.steps{
    padding: 15px;
    border: black solid 1px;
}

.description{
    background-color: lightpink;
}

.ingredients{
    background-color: aquamarine;
}

.steps{
    background-color: aliceblue;
}