*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aliceblue;
}

.heading{
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav > ul > li{
    display: inline-block;
    padding: 10px;
}

.nav > ul > li > a{
    color: black;
    text-decoration: none;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content{
    display: flex;
    padding: 15px;
    background-color: lightblue;
    gap:5px;
    margin-top: 10px;
    border: black solid 1px;
}

.description,
.ingredients,
.steps{
    padding: 15px;
    border: black solid 1px;
}

.description{
    background-color: lightpink;
}

.ingredients{
    background-color: aquamarine;
}

.steps{
    background-color: aliceblue;
}